# PYSPARK TUTORIAL - FCC

## **Lecture Numero Dos**

####**What will be covered:**

- PySpark Dataframe

-  Reading The Dataset

- Checking the Datatypes of the Column(Schema)

- Selecting Columns And Indexing

- Check Describe option similar to Pandas

- Adding Columns

- Dropping columns

- Renaming Columns

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=b9f2b7ffeb938de00ed779e6e1e524bc599de459b29281875ba9b02ded2ee982
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('PySpark_yt2').getOrCreate()

In [6]:
spark

In [14]:
# all features come as string so we use inferschema
df_pyspark2 = spark.read.option('header', 'true').csv('/content/drive/MyDrive/pyspark/nameage.csv', inferSchema=True)
df_pyspark2.show()

+-------+---+----------+
|   Name|Age|experience|
+-------+---+----------+
|Saitama| 21|        50|
|  Bobby| 23|         8|
| Ichigo| 30|         3|
+-------+---+----------+

In [15]:
df_pyspark2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [23]:
df_pyspark = spark.read.csv('/content/drive/MyDrive/pyspark/nameage.csv', header=True, inferSchema=True)

# the dataframe here is like a data structure
print(type(df_pyspark))

print(df_pyspark.show())

df_pyspark.printSchema()

<class 'pyspark.sql.dataframe.DataFrame'>
+-------+---+----------+
|   Name|Age|experience|
+-------+---+----------+
|Saitama| 21|        50|
|  Bobby| 23|         8|
| Ichigo| 30|         3|
+-------+---+----------+

None
root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [24]:
df_pyspark.columns

['Name', 'Age', 'experience']

In [29]:
# fetching particular column
print(df_pyspark.select('Name'))

DataFrame[Name: string]

In [30]:
# slicing wont work
df_pyspark.select(['Name', 'Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|Saitama| 21|
|  Bobby| 23|
| Ichigo| 30|
+-------+---+

In [32]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('experience', 'int')]

In [33]:
df_pyspark.describe().show()

+-------+-------+------------------+------------------+
|summary|   Name|               Age|        experience|
+-------+-------+------------------+------------------+
|  count|      3|                 3|                 3|
|   mean|   NULL|24.666666666666668|20.333333333333332|
| stddev|   NULL| 4.725815626252609|25.813433195399124|
|    min|  Bobby|                21|                 3|
|    max|Saitama|                30|                50|
+-------+-------+------------------+------------------+

In [36]:
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)
df_pyspark.show()

+-------+---+----------+-----------------------+
|   Name|Age|experience|Experience After 2 year|
+-------+---+----------+-----------------------+
|Saitama| 21|        50|                     52|
|  Bobby| 23|         8|                     10|
| Ichigo| 30|         3|                      5|
+-------+---+----------+-----------------------+

In [39]:
df_pyspark=df_pyspark.drop('Experience After 2 year')
df_pyspark.show()

+-------+---+----------+
|   Name|Age|experience|
+-------+---+----------+
|Saitama| 21|        50|
|  Bobby| 23|         8|
| Ichigo| 30|         3|
+-------+---+----------+

In [41]:
df_pyspark = df_pyspark.withColumnRenamed('Name','New Name')
df_pyspark.show()

+--------+---+----------+
|New Name|Age|experience|
+--------+---+----------+
| Saitama| 21|        50|
|   Bobby| 23|         8|
|  Ichigo| 30|         3|
+--------+---+----------+