# PYSPARK TUTORIAL - FCC

  ## **Lecture Numero Cinco**

####**What will be covered:**

- Groupby Functions
- Aggregate Functions

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=dc59d134bae14895417e40fc56d449f9bb82fa942f880da8ae14d177433bb7b2
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [5]:
import pyspark
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Agg_Grp').getOrCreate()

In [6]:
spark

In [9]:
df_pyspark=spark.read.csv('/content/drive/MyDrive/pyspark/nameage3.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|     Name|  Department|Salary|
+---------+------------+------+
|    Krish|         IOT| 10000|
|   Mahesh|    Big Data|  5000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  4000|
|Sudhanshu|Data Science|  3000|
|Sudhanshu|         IOT| 20000|
|Sudhanshu|    Big Data| 10000|
|    Sunny|Data Science|  5000|
|    Sunny|    Big Data| 10000|
+---------+------------+------+

In [10]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [11]:
# Grouped to find the maximum salary
# sum(): This part applies the sum aggregation function to each group. It calculates the sum of all numerical columns for each group.

df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      33000|
|    Krish|      14000|
|   Mahesh|       9000|
|    Sunny|      15000|
+---------+-----------+

In [12]:
df_pyspark.groupBy('Name').avg().show()

+---------+-----------+
|     Name|avg(Salary)|
+---------+-----------+
|Sudhanshu|    11000.0|
|    Krish|     7000.0|
|   Mahesh|     4500.0|
|    Sunny|     7500.0|
+---------+-----------+

In [15]:
df_pyspark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      30000|
|    Big Data|      29000|
|Data Science|      12000|
+------------+-----------+

In [17]:
df_pyspark.groupBy('Department').mean().show()

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         IOT|    15000.0|
|    Big Data|     7250.0|
|Data Science|     4000.0|
+------------+-----------+

In [19]:
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    3|
+------------+-----+

In [20]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      71000|
+-----------+